.operations-list,
.operations-list > :hover,
.operations-list > :active {
    background: none;
}

levelbar block.full {
    background-color: #78aeed;
}

levelbar block.three-quarters {
    background-color: #3584e4;
}

levelbar block.half {
    background-color: #cd9309;
}

levelbar block.low {
    background-color: #c01c28;
}
  